body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 600px;
    height: 100vh;
    min-height: 600px;
}

#circle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;

    width: 460px;
    height: 460px;
    background-color: #fff;
    border-radius: 50%;
}

.title {
    font-size: 32px;
}

.sub-title {
    font-size: 18px;
}