body {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    background-color: #000;
    margin: 0;
    width: 100%;
    min-width: 600px;
    height: 100vh;
    min-height: 600px;
}

#welcome-pane {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 10;
    transition: background 1.5s ease-out;
}

#welcome-pane.no-background {
    background: transparent;
}

#welcome-pane.hide {
    display: none;
}

#welcome-pane-text {
    font-size: 48px;
    width: 500px;
    padding-left: 300px;
    text-align: center;
    letter-spacing: 5px;
    color: transparent;
    transition: all 1.5s ease;
}

#welcome-pane-text.show {
    color: #fff;
    padding: 0;
    letter-spacing: 3px;
}

#welcome-pane-text.hide {
    color: transparent;
    padding-left: 0;
    padding-right: 300px;
    letter-spacing: 5px;
}

#main-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: #fff;
}

.content-pane {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cp-title {
    font-size: 42px;
}

.cp-subtitle {
    font-size: 18px;
    color: #ddd;
    margin-top: 8px;
    margin-bottom: 16px;
    padding: 8px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.cp-subtitle a {
    text-decoration: none;
    color: #ddd;
    transition: color 0.25s;
}

.cp-subtitle a:hover {
    text-decoration: none;
    color: #888;
}

.link-color {
    padding: 0px 8px;
    filter: invert(90%) sepia(0%) saturate(1173%) hue-rotate(216deg) brightness(95%) contrast(102%);
}

.link-color:hover {
    filter: invert(54%) sepia(1%) saturate(0%) hue-rotate(175deg) brightness(100%) contrast(86%);
}